.blog {
    background: var(--bg-card);
    border: 1px solid var(--bg-card-border);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    max-width: 870px;
}

.blog-posts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-post-item>a {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.blog-post-item>a::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-card-border);
    border-radius: 20px;
    z-index: -1;
    transition: var(--transition);
}

.blog-post-item>a:hover::before {
    background: #383838;
}

.blog-banner-box {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
}

.blog-banner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.blog-post-item>a:hover img {
    transform: scale(1.1);
}

.blog-content {
    padding: 0 10px 10px;
}

.blog-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin-bottom: 10px;
}

.blog-category,
.blog-meta time {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 300;
}

.blog-meta .dot {
    background: var(--text-secondary);
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.blog-item-title {
    margin-bottom: 10px;
    line-height: 1.3;
    transition: var(--transition);
    color: var(--text-primary);
}

.blog-post-item>a:hover .blog-item-title {
    color: var(--text-gold);
}

.blog-text {
    color: var(--text-secondary);
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .blog-posts-list {
        grid-template-columns: 1fr;
    }
}