.portfolio {
    background: var(--bg-card);
    border: 1px solid var(--bg-card-border);
    border-radius: 20px;
    padding: 30px;
    position: relative;
}

.filter-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    margin-bottom: 30px;
    padding-left: 5px;
}

.filter-item button {
    color: var(--text-secondary);
    font-size: 15px;
    transition: var(--transition);
}

.filter-item button:hover,
.filter-item button.active {
    color: var(--text-gold);
}

.filter-select-box {
    display: none;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 10px;
}

.project-item {
    display: none;
}

.project-item.active {
    display: block;
    animation: scaleUp 0.25s ease forwards;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.project-item>a {
    width: 100%;
}

.project-img {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 15px;
}

.project-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
    transition: var(--transition);
}

.project-item>a:hover .project-img::before {
    background: rgba(0, 0, 0, 0.5);
}

.project-item-icon-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    background: #383838;
    padding: 18px;
    border-radius: 12px;
    opacity: 0;
    z-index: 1;
    transition: var(--transition);
}

.project-item>a:hover .project-item-icon-box {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
    opacity: 0;
}

.project-img img.loaded {
    opacity: 1;
}

.project-img.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(240, 2%, 12%);
    }

    100% {
        background-color: hsl(240, 2%, 20%);
    }
}

.project-title {
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 3px;
    margin-left: 10px;
}

.project-category {
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}

@media (max-width: 1024px) {
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .project-list {
        grid-template-columns: 1fr;
    }

    .filter-list {
        display: none;
    }

    .filter-select-box {
        display: block;
        position: relative;
        margin-bottom: 25px;
    }

    .filter-select {
        background: var(--bg-card-border);
        color: var(--text-secondary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        border: 1px solid var(--bg-card-border);
        border-radius: 14px;
        font-size: 14px;
        font-weight: 300;
    }

    .filter-select.active .select-icon {
        transform: rotate(180deg);
    }

    .select-list {
        background: var(--bg-card-border);
        position: absolute;
        top: calc(100% + 6px);
        width: 100%;
        padding: 6px;
        border: 1px solid var(--bg-card-border);
        border-radius: 14px;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: 0.15s ease-in-out;
    }

    .filter-select.active+.select-list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    .select-item button {
        background: var(--bg-card);
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 300;
        text-transform: capitalize;
        width: 100%;
        padding: 8px 10px;
        border-radius: 8px;
        text-align: left;
    }

    .select-item button:hover {
        background: #383838;
    }
}